{% extends '@Forumify/components/list.html.twig' %}
{% block row %}
    <li class="w-100 {% if not loop.first %}mt-3{% endif %}">
        {% set user = item.user %}
        {% set avatar %}
            {% include '@Forumify/components/avatar.html.twig' with { className: 'avatar-sm' } %}
        {% endset %}
        {% set username %}
            {% if user is not null %}
                {% include '@Forumify/components/username.html.twig' %}
            {% else %}
                {{ 'donations.forum.donations.anonymous'|trans }}
            {% endif %}
        {% endset %}
        {% set amount %}
            <span class="text-bold">{{ item.amount|currency }}</span>
        {% endset %}
        {% set goal %}
            {%- if item.goal is not null -%}
                <a href="{{ path('donations_goal', { slug: item.goal.slug }) }}">{{ item.goal.title }}</a>
            {%- else -%}
                no_goal
            {%- endif -%}
        {% endset %}
        <p class="flex items-center gap-1">
            {{ 'donations.forum.donations.list_item'|trans({
                avatar: avatar,
                username: username,
                amount: amount,
                goal: goal
            })|raw }}
        </p>
        <p class="text-small">{{ item.createdAt|format_date }}</p>
    </li>
{% endblock %}
