<div class="card">
    <div class="card-title">
        <h3 class="mb-0">{{ 'donations.forum.preferred_goal.title'|trans }}</h3>
    </div>
    <div class="card-body flex flex-col">
        {% set goal = this.preferredGoal %}
        {% if goal is not null %}
            <p class="text-bold mb-2">{{ goal.title }}</p>
            <p class="mb-4">
                {{ goal.description|striptags|u.truncate(200, '...', false) }}
            </p>
            {% include '@ForumifyDonationsPlugin/forum/components/goal_progress.html.twig' %}
            <div class="text-center">
                <a class="btn-cta mt-4" href="{{ path('donations_goal', { slug: goal.slug }) }}">
                    {{ 'donations.forum.preferred_goal.view_goal'|trans }}
                </a>
            </div>
        {% else %}
            <p>
                {{ 'donations.forum.preferred_goal.no_goal'|trans }}
            </p>
        {% endif %}
    </div>
    <div class="card-footer flex justify-center">
        <a class="btn-small btn-link" href="{{ path('donations_dashboard') }}">{{ 'donations.forum.preferred_goal.view_all'|trans }}</a>
    </div>
</div>
